nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
}

.nav {
    margin: 0 !important;
}

.nav a {
    color: #444;
    text-decoration: none;
}

.nav a:hover {
    font-weight: bold;
}

/* En celular los links se muestran en columna */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
        text-align: center;
    }

    .nav-link {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
}